.pa_order_return {
	font-weight: 500;
	font-size: 16px;

	color: #B1B1B1;
	margin-top: 90px;
	margin-bottom: 30px;
}

.pa_order_title {
	font-weight: 500;
	font-size: 25px;
	margin-bottom: 30px;
}

.pa_order {
	width: 100%;
}