.addcategoty {
	margin-top: 145px;
}

.add_category_photo {
	width: 543px;
	height: 393px;
	background: #F9F9F9;
	border-radius: 5px;
	margin-bottom: 15px;
}

.add_category_btn {
	width: 543px;
	height: 50px;
	color: #40BE5C;
	font-weight: 500;
	font-size: 17px;
	width: 202px;
	border: 1px solid #40BE5C;
	box-sizing: border-box;
	border-radius: 15px;
	width: 543px;
	text-align: center;
	padding: 8px;
}

.add_category__input input[type=text] {
	width: 780px;
	border: 1px solid #C4C4C4;
	border-radius: 10px;
	color: #AAAAAA;
	font-weight: 200;
	font-size: 18px;

	padding: 10px 15px;
	margin-bottom: 40px;
}

input[type=text]:focus {
	outline: 0.005px solid #C4C4C4;
}

.add_category__btn {
	font-weight: 500;
	font-size: 20px;
	padding: 10px 28px;

	background: #40BE5C;
	color: #FFFFFF;
	border-radius: 15px;
	width: 167px;
	float:right;
}