@import '../../../../styles/_vars';


.stocks_item {
	max-width: 360px;
	background: #FFFFFF;
	box-shadow: 0px 0px 15px rgba(107, 107, 107, 0.15);
	border-radius: 10px;
	padding: 39px 37px;
}

.stocks_item_img {
	margin-bottom: 68px;
}

.stocks_item__title {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	display: flex;
	align-items: center;

	margin-bottom: 17px;
}

.stocks_item__sale_price {
	font-style: normal;
	font-weight: 700;
	font-size: 27px;
	line-height: 152%;
	margin-right: 10px;

	color: $red;
}

.stocks_item__price {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 152%;
	/* or 27px */

	text-decoration-line: line-through;
	color: #D6D6D6;
}

.stocks_item_prices {
	align-items: center;
}

.stocks_item__basket {
	padding: 10px 13px;
	background-color: $green;

	border-radius: 60px;
}

.stocks_item__text {
	margin-left: 15px;
	margin-right: 9px;
}