.first_title {
    font-size: 50px;
    font-weight: 600;
    line-height: 78px;
    margin-bottom: 30px;
}

.first_title_img {
    position: relative;
    right: -3%
}

.green_line {
    background-size: cover;
    position: absolute;
    width: 100%;
    top:9%
}