.intervalDelivery {
	margin-top: 115px;
}

.intervalDelivery_item {
	margin-bottom: 40px;
}

.intervalDelivery_title {
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 15px;
}

.intervalDelivery_input {
	
}