@import '../../styles/vars';

.intervalDelivery {
	margin-top: 100px;
}

.intervalDelivery_item {
	margin-bottom: 30px;
}

.intervalDelivery_title {
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 15px;
}

.intervalDelivery_input input[type=text] {
	border: 1px solid #C4C4C4;
	border-radius: 10px;
	color: #AAAAAA;
	font-weight: 200;
	font-size: 18px;

	padding: 10px 15px;
	width: 50%;
}

input[type=text]:focus {
	outline: 0.005px solid #C4C4C4;
}

select {
	width: 30%;
	padding: 10px 15px;
	border: 1px solid #C4C4C4;
	border-radius: 10px;
	font-weight: 200;
	font-size: 18px;

	color: #AAAAAA;
}

option {
	margin-left: 5px;
	width: 5%;
	background: #FFFFFF;
	box-shadow: 0px 5px 11px rgba(124, 124, 124, 0.2);
}

select:focus {
	outline: 0.005px solid #C4C4C4;
}

.intervalDelivery_comment {
	border: 1px solid #C4C4C4;
	border-radius: 10px;
	color: #AAAAAA;
	font-weight: 200;
	font-size: 18px;

	padding: 10px 15px;
	width: 50%;
}

.intervalDelivery_comment:focus {
	outline: 0.005px solid #C4C4C4;
}

.intervalDelivery_btn_container {
	margin-bottom: 95px;
}

.intervalDelivery_btn {
	color: $white;
	background-color: $green;
	padding: 15px 50px;
	border-radius: 20px;
	border: 0;
}

.intervalDelivery_describe {
	font-weight: 400;
	font-size: 18px;
	color: rgba(52, 52, 52, 0.6);
	margin-top: 10px;
}