@import '../../../styles/vars';

.courier_menu_items {
	margin-right: 85px;
	margin-top: 90px;
}

.courier_profile {
	margin-top: 90px;
	max-width: 472px;
}

.courier_profile_item_name,
.courier_profile_item_phone,
.courier_profile_item_pass,
.courier_profile_item_status {
	margin-bottom: 45px;
}

.courier_profile_item_name {
	margin-right: 200px;
}

.courier_profile_item_title {
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 15px;
}

.courier_profile_item_text {
	font-weight: 400;
	font-size: 18px;
}

.courier_profile_btn_text {
	font-weight: 600;
	font-size: 18px;
	color: $green;
}

.checkbox_ios {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	margin-right: 10px;
	position: relative;
	vertical-align: middle;
	font-size: 14px;
	user-select: none;
}

.checkbox_ios .checkbox_ios_switch {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 56px;
	height: 28px;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 25%/50%;
	vertical-align: top;
	background: #eee;
	transition: .2s;
}

.checkbox_ios .checkbox_ios_switch:before {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: white;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	transition: .15s;
}

.checkbox_ios input[type=checkbox] {
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.checkbox_ios input[type=checkbox]:not(:disabled):active+.checkbox_ios_switch:before {
	box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
}

.checkbox_ios input[type=checkbox]:checked+.checkbox_ios_switch {
	background: limegreen;
}

.checkbox_ios input[type=checkbox]:checked+.checkbox_ios_switch:before {
	transform: translateX(28px);
}

/* Hover */
.checkbox_ios input[type="checkbox"]:not(:disabled)+.checkbox_ios_switch {
	cursor: pointer;
	border-color: rgba(0, 0, 0, .3);
}

/* Disabled */
.checkbox_ios input[type=checkbox]:disabled+.checkbox_ios_switch {
	filter: grayscale(70%);
	border-color: rgba(0, 0, 0, .1);
}

.checkbox_ios input[type=checkbox]:disabled+.checkbox_ios_switch:before {
	background: #eee;
}

/* Focus */
.checkbox_ios.focused .checkbox_ios_switch:before {
	box-shadow: inset 0px 0px 4px #ff5623;
}