.slug_filters {
	margin-top: 75px;
}

.slug_search {
	margin-top: 75px;
}

.slug_items {
	margin-top: 75px;
}

.slug_catalog {
	max-width: 1080px;
}

.slug_margin {
	margin-bottom: 45px;
	max-width: 360px;
}

.slug_pagination {
	margin-top: 50px;
}