// Global vars
$ff: 'Montserrat', sans-serif;
$siteWidth: 1220;
$spaceCol: 20;

$globalFontsSize: 16;

// Colors
$white: #fff;
$black: #343434;
$light_gray: #B2B2B2;
$green: #40BE5C;
$red: #E12525;
$blue: #0075FF;


