@import '../../../../styles/_vars';

.aboutUsItem {
	background: #FBFBFB;
	box-shadow: 2px 3px 10px rgba(166, 171, 189, 0.45);
	border-radius: 15px;
	padding: 45px 20px;
}

.aboutUsItem_num {
	font-weight: 700;
	font-size: 70px;
	line-height: 32px;
	/* identical to box height, or 46% */

	text-align: center;

	background: linear-gradient(170.52deg, #40BE5C 7.15%, rgba(91, 226, 121, 0.85) 78.54%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;

	margin-bottom: 60px;
}

.aboutUsItem_text {
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
	/* or 160% */

	text-align: center;

	color: $black;
}