.catalog_section {
    margin-top: 170px;
}

.catalogTitle {
    margin-bottom: 75px;
}

.items {
    box-sizing: content-box;
}

.catalog_showMore {
    line-height: 30px;
    text-align: center;

    color: #444444;

    margin-top: 50px;
}

.margin {
    margin-right: 30px;
}

.catalog_showMore_link {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
}