.pagination_active {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 12px;
	text-align: center;

	color: #FFFFFF;
	background-color: #40BE5C;

	padding: 9px 16px;
	border-radius: 20px;
	margin-right: 10px;
}

.pagination {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 12px;
	text-align: center;

	padding: 9px 12px;

	color: #444444;
	border-radius: 20px;
	border: 1px solid #7A7A7A;
	margin-right: 10px;
}

.points {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 12px;
	text-align: center;

	padding: 9px 12px;

	color: #444444;
	margin-right: 10px;
}