@import '../../../styles/vars';

.search {
    background-color: $white;
    color: $light_gray;
    width: 400px;
    height: 60px;
    box-shadow: 2px 6px 10px rgba(153, 153, 153, 0.25);
    border-radius: 20px;
    border-color: $white;
    margin-right: 10px;
    outline: none;
    outline-offset: 0px !important;
}

.search_btn {
    background: $green;
    box-shadow: 4px 9px 10px rgba(153, 153, 153, 0.65);
    border-radius: 20px;
    padding: 20px 45px;
    color: $white;
    font-weight: 600;
    font-size: 18px;
    border-color: $green;
    outline: 0;
    outline-offset: 0
}